/CodeGen/obj
/CodeGen/bin/CodeGenD.pdb
/CodeGen/bin/CodeGenD.vshost.exe
/CodeGen/bin/CodeGenD.vshost.exe.config
/CodeGen/bin/CodeGenD.vshost.exe.manifest
/CodeGen/bin/DotLiquid.dll
/CodeGen/bin/DotLiquid.resources.dll
/CodeGen/bin/VTemplate.Engine.dll
/CodeGen/bin/it
/CodeGen/bin/Release
/CodeGen/bin/Template
/CodeGen/bin/CodeGen.vshost.exe.manifest
/CodeGen/bin/CodeGenD.exe
/CodeGen/bin/CodeGenD.exe.config
