#macro(title) 
/// <copyright>$data.CorpName</copyright>
/// <version>1.0</version>
/// <author>$data.UserName</author>
/// <email>$data.EMail</email>
/// <log date="$data.Today">创建</log>
#end
#macro(pageTitle $tableName $CName) 
<%@ Page Language="C#" CodeFile="${tableName}_Add.aspx.cs" Inherits="Tables_${tableName}_Add"
    MasterPageFile="~/Master/AddEditMaster.master" Title="$CName" %>
#end
#macro(addSql) 
INSERT INTO ${data.TableClassName}(#set($index=0)
#foreach($item in $data.BaseDetail.Columns)
#set($index=$index+1)
#if(!$item.IsMarking && $item.DefaultValue != "当前日期")$item.ColumnName #if($index!=${data.BaseDetail.Columns.Count}), #end
#end
#end) VALUES(#set($index=0)
#foreach($item in $data.BaseDetail.Columns)
#set($index=$index+1)
#if(!$item.IsMarking && $item.DefaultValue != "当前日期")@$item.ColumnName #if($index!=${data.BaseDetail.Columns.Count}), #end
#end
#end)
#end
#macro(editSql) 
UPDATE ${data.TableClassName} SET #set($index=0)
#foreach($item in $data.BaseDetail.Columns)
#set($index=$index+1)
#if(!$item.IsMarking && !$item.IsPK && $item.DefaultValue != "当前日期")
$item.ColumnName = @$item.ColumnName #if($index!=$data.BaseDetail.Columns.Count),#end
#end
#end WHERE $data.BaseDetail.GetQuery()
#end
#macro(getSql) 
SELECT #set($index=0)
#foreach($item in $data.BaseDetail.Columns)
#set($index=$index+1)
#if($index > 1), #end ${item.ColumnName}#end FROM ${data.TableClassName} WHERE $data.BaseDetail.GetQuery()
#end
#macro(deleteSql) 
DELETE ${data.TableClassName} WHERE $data.BaseDetail.GetQuery()
#end
#macro(dataSourceSql)
#set($fkcl=$data.BaseDetail.GetFKColumn())
#if($fkcl=="")SELECT 1 AS KeyValue,2 AS KeyText FROM ${data.TableClassName};#else
#set($fkT=$data.BaseDetail.GetFKTextColumn($fkcl))
SELECT $fkcl AS KeyValue,$fkT AS KeyText FROM [${data.TableClassName}];#end
#end
#macro(dataSourceSql)
#set($fkcl=$data.BaseDetail.GetFKColumn())
#if($fkcl=="")SELECT 1 AS KeyValue,2 AS KeyText FROM ${data.TableClassName};#else
#set($fkT=$data.BaseDetail.GetFKTextColumn($fkcl))
SELECT $fkcl AS KeyValue,$fkT AS KeyText FROM [${data.TableClassName}];#end
#end
#macro(dataSearch)
/// <summary>
        /// 查询数据库表。
        /// </summary>
        private string SearchTableName
        {
            get
            {
                return $data.TableClassName;
            }
        }
#foreach($item in $data.BaseDetail.Columns)
#if($item.IsGUID || $item.IsMarking || $item.IsFK)
#if($item.IsString)
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Equal_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if ($item.FieldName== null || $item.FieldName == "")
            {
                return "";
            }
            return this.SearchTableName + "$item.FirstCharUpper='" + $item.FieldName + "'";
        }
#else
		/// <summary>
		/// 查询条件函数：$item.CNName。
		/// </summary>
		public string Query_Equal_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
		{
			if ($item.FieldName < 0)
			{
				return "";
			}
			return this.SearchTableName + "$item.FirstCharUpper=" + $item.FieldName;
		}
#end 
#end 
#if($item.IsDateTime)
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Equal_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName}== null || ${item.FieldName} == "")
            {
                return "";
            }

            return this.SearchTableName + "$item.FirstCharUpper= '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Greater_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }

            return this.SearchTableName + "$item.FirstCharUpper> '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_GreaterEqual_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return this.SearchTableName + "$item.FirstCharUpper>= '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Less_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return this.SearchTableName + "$item.FirstCharUpper< '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_LessEqual_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return this.SearchTableName + "$item.FirstCharUpper<= '" + ${item.FieldName} + "'";
        }
#end
#if($item.IsString)
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Equal_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper} = '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_LIKE_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper} LIKE '%" + ${item.FieldName} + "%'";
        }
#else
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Equal_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper}=" + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Greater_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper} > " + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_GreaterEqual_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper} >= " + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_Less_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper} < " + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string Query_LessEqual_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return this.SearchTableName + "${item.FirstCharUpper} <= " + ${item.FieldName};
        }  
#end  
#end  
#foreach($it in $data.BaseDetail.FKs)
#set($item=$it.ParentTableInfo.GetFKTEXTColumnInfo($it.RColumnName))

#if($item.IsGUID || $item.IsGUID || $item.IsMarking || $item.IsFK)
#if($item.IsString)
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Equal_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if ($item.FieldName== null || $item.FieldName == "")
            {
                return "";
            }
            return  "$item.TableName.$item.FirstCharUpper='" + $item.FieldName + "'";
        }
#else
		/// <summary>
		/// 查询条件函数：$item.CNName。
		/// </summary>
		public string FK_Query_Equal_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
		{
			if ($item.FieldName < 0)
			{
				return "";
			}
			return  "$item.TableName.$item.FirstCharUpper=" + $item.FieldName;
		}
#end 
#end 
#if($item.IsDateTime)
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Equal_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName}== null || ${item.FieldName} == "")
            {
                return "";
            }

            return  "$item.TableName.$item.FirstCharUpper= '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Greater_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }

            return  "$item.TableName.$item.FirstCharUpper> '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_GreaterEqual_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return  "$item.TableName.$item.FirstCharUpper>= '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Less_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return  "$item.TableName.$item.FirstCharUpper< '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_LessEqual_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return  "$item.TableName.$item.FirstCharUpper<= '" + ${item.FieldName} + "'";
        }
#end
#if($item.IsString)
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Equal_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return  "$item.TableName.${item.FirstCharUpper} = '" + ${item.FieldName} + "'";
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_LIKE_${item.FirstCharUpper}(string ${item.FieldName})
        {
            if (${item.FieldName} == null || ${item.FieldName} == "")
            {
                return "";
            }
            return  "$item.TableName.${item.FirstCharUpper} LIKE '%" + ${item.FieldName} + "%'";
        }
#else
        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Equal_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return  "$item.TableName.${item.FirstCharUpper}=" + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Greater_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return  "$item.TableName.${item.FirstCharUpper} > " + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_GreaterEqual_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return  "$item.TableName.${item.FirstCharUpper} >= " + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_Less_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return  "$item.TableName.${item.FirstCharUpper} < " + ${item.FieldName};
        }

        /// <summary>
        /// 查询条件函数：$item.CNName。
        /// </summary>
        public string FK_Query_LessEqual_${item.FirstCharUpper}($item.CSDataType ${item.FieldName})
        {
            if (${item.FieldName} < 0)
            {
                return "";
            }
            return "$item.TableName.${item.FirstCharUpper} <= " + ${item.FieldName};
        }  
#end  
#end
#end#macro(addSqlForPython) 
INSERT INTO ${data.TableClassName}(#set($index=0)
#foreach($item in $data.BaseDetail.Columns)
#set($index=$index+1)
#if(!$item.IsMarking && $item.DefaultValue != "当前日期")$item.ColumnName #if($index!=${data.BaseDetail.Columns.Count}), #end
#end
#end) VALUES(#set($index=0)
#foreach($item in $data.BaseDetail.Columns)
#set($index=$index+1)
#if(!$item.IsMarking && $item.DefaultValue != "当前日期")
#if(!$item.IsInt && !$item.IsDecimalOrFloat)'#end${@$item.ColumnName}#if(!$item.IsInt && !$item.IsDecimalOrFloat)'#end #if($index!=${data.BaseDetail.Columns.Count}), #end
#end
#end)
#end
#title()

using System;
using System.Data;

namespace Model
{
    /// <summary>
    /// $data.TableCNName表的描述类。
    /// </summary>
    /// <author>$data.UserName</author>
    /// <log date="$data.Today">创建</log>
    public class ${data.TableClassName}VO
    {
#foreach($item in $data.BaseDetail.Columns)
       /// <summary>
       /// $item.CNName
       /// </summary>
       public $item.CSDataType $item.PropertyName {set; get;}
		
#end        
    }
}
